language: python
python:
  - "2.6"
  - "2.7"
  - "pypy"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y build-essential python-dev openssl libevent-dev python-pip liblzma-dev libssl-dev python-m2crypto swig
 # Create a fake RPM package so that the python-rhsm certificate class will load properly
  - mkdir rpm
  - touch rpm/__init__.py
install:
  - "pip install ."
  - "pip install -r test-requirements.txt"
  - "pip install -r travis-requirements.txt"
  - "pip install coveralls"
  - "pip install git+https://github.com/barnabycourt/python-rhsm.git"
before_script:
  - flake8
script: nosetests --with-coverage --cover-package crane  --cover-min-percentage 100 --cover-erase
after_success: coveralls
