{# _crane/templates/layout.html_ #}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta charset="utf-8">
    <link href="{{url_for('static', filename='css/patternfly.min.css')}}" rel="stylesheet" media="screen, print">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs -->
    <!-- IE8 requires jQuery v1.x -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dataTables.js"></script>
    <script src="/static/js/patternfly.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/crane/repositories">
          <img src="/static/img/crane.png" alt="PatternFly Enterprise Application" />
        </a>
          <h1 style="color: white;font-weight: bold; padding-left: 105px;">Crane</h1>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-primary">
          <li class="active">
            <a href="/crane/repositories" class="active">Repositories</a>
          </li>
          <li class="active">
            <a href="/crane/repositories/v2" class="active">Repositories v2</a>
          </li>
        </ul>
      </div>
    </nav>
   {% block body %}
        <h1>This heading is defined in the parent.</h1>
    {% endblock %}
  </body>
</html>
